body {
    background: rgb(107, 142, 236); /* fundo */
    font: normal 15pt Arial; /* config texto */
}

header {
    color: white; /* cor texto*/
    text-align: center; /* texto centralizado  */
}

section {
    background: white; /* fundo */
    border-radius: 10px; /* bordas redondas*/
    padding: 15px; /* espaçamento */
    width: 500px; /* largura */
    margin: auto; /* centralizar na tela */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363); /* sombra na parte inferior */

}

div {
    text-align: center; /* texto centralizado */
    padding: 8px; /* espaçamento */
}

footer {
    color: white;
    text-align: center; 
    font-style: italic; /* texto itálico */
}